doctype html
html
	head
		link(rel='stylesheet', href='/css/post.css')
		link(href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src='/js/post.js')
	body
		div(id="wrapper")
			nav
				h1=welcome
			div(id="post" class="blogblock")
				h2 Post
				h3= title
				p(id='postcontent')= content
				p=date
			div(id="commentblock" class="blogblock")
				h2 Comments
				div(id='comments')
			div(id="addcomment" class="blogblock")
				h2 Add comment
				form(action='/addcomment' method='post')
					label type comment
					br
					textarea(type="text" name="comment" placeholder="Type here")
					br
					br
					input(id='button' type='submit' value='post')
			div(id="link")
				a(href='/blog' id='logout') Return 