h1{

	color: green;
}

body{

	text-align: center;
}

ul{

	text-align: left;
}

li{

	text-align: center;
	cursor: pointer;
	font-size: 90%;
}

#content{

	border: solid 1px #ddd;
}

#assignment{

	text-align: left;
}

#codeblock{

	text-align: left;
}